[
    {hcvc, [
        {vault, "http://127.0.0.1:8200"},
        {token, "root"}
    ]},

    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                config => #{
                    burst_limit_enable => false
                },
                formatter => {logger_formatter, #{template => [time, " ", msg, "\n"]}}
            }}
        ]}
    ]}
].
